<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="dbLocal" connectionString="Data Source=192.168.3.68; Database=RISHI_WIP; User id=sa; Password=sqlserver@2012;"/>
    <add name="dbMySql" connectionString="Server=192.168.3.68; Database=erp_krishi; uid=root; pwd=; convert zero datetime=True"/>
    <!--<add name="dbLocal" connectionString="Data Source=SAR-N-PF2795MB\SQLEXPRESS; Database=RISHI_WIP; User id=sa; Password=sarblr@2019;"/>-->
    <!--<add name="dbMySql" connectionString="Server=Localhost; Database=ldms; uid=root; pwd=sarblr@2019;"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: 990DC32E-E290-4EB1-A472-F05021215792-->